<% provide(:title, 'Contact')  %>
 <h1>Sample App</h1>
 <p>
  Yo if you trying to get in touch with me, give a shout to:
   involucelate@gmail.com

   ya


   4644464. sup.
  Contact, yo that movie is weak.
 </p>
